
<main class ="show_format">

    <% if flash[:notice] %>
	<p><%= flash[:notice ]%></p>
	<% end %>


	<p class = "show-item"><b>Title:</b><%= @book.title %></p>

	<p class = "show-item"><b>Body:</b><%= @book.body %></p>

<div class = "show-item-link">
    <p class = "show-item-link-edit"><%= link_to "Edit", edit_book_path(@book.id) %>
    </p>
	<p class = "show-item-link-back"><%= link_to "Back", books_path %>
	</p>
</div>

</main>

